@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body{
	background:#fcfcfc;
	font-family: 'Open Sans', sans-serif !important;
}
/*** Scrollbar ***/

::-webkit-scrollbar {
	background:transparent;
	width:12px;
	height:12px;
}
::-webkit-scrollbar-thumb {
	background-color: #c0c0c0;
	border:1px solid #9c9c9c;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #909090;
	border:1px solid #676767;
}
::-webkit-scrollbar-track {
	background:none;
	border:1px solid #dadada;
}
::-webkit-scrollbar-corner {
	
	
}
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#body_container{
	width:95%;
	margin:auto;
	margin-top:15px;	
}

#header{
	width:96%;
	height:60px;
	margin:auto;
	margin-top:10px;
	border-bottom:1px solid #EEE;
}

.left{
	float:left;
	width:39%;
	height:65%;
	display:inline-block;
	border-top:1px solid #EEE;
	overflow:hidden;
}
.left .container{
	width:100%;
	height:85%;
	overflow:auto;
}
.right{
	float:right;
	width:59%;
	height:65%;
	display:inline-block;
	border-top:1px solid #EEE;
	overflow:hidden;
}
.right .container{
	background:#fff;
	border:1px solid #EEE;
	border-top:none;
	width:100%;
	height:85%;
	overflow:auto;
}
#drop_box{
	display: none;
	width: 99%;
	height: 50px;
	border: 3px dashed #666;
	border-radius: 10px;
	text-align: center;
	font-size: 20px;
	padding-top: 25px;
	background: #fcfcfc;	
}
.heading{
	font-family: 'Open Sans', sans-serif !important;
	font-size: 26px;
	padding:15px;
	border-bottom:1px solid #EEE;
}
.heading span.blue{
	color:#00B4FF;
}
.heading span.desc{
	color:#999;
	border-left:1px solid #EEE;
	margin-left:10px;
	padding-left:10px;
	font-size: 22px;
	font-weight:lighter;
}
.icon_container{
	height:60px;
	margin-bottom:10px;
}

.icon img{
	display:inline-block;
	width:auto;
	height:auto;
	margin-right:10px;
	padding:10px;
	background:#f9f9f9;
	border:1px solid #E1E1E1;
	border-radius:3px;
	cursor:pointer;
}
.icon img:hover{
	background:#EEE;
	box-shadow:0px 1px 2px rgba(0,0,0,0.05);
}	
.icon span{
	font-size:120%;
	color:#999;
	vertical-align:middle;
	padding-left:10px
}
.icon input{
	height: 46px !important;
	margin-top: 4px;
	padding-left: 11px;
	color: #666 !important;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 16px;
	width: 70%;
	margin-right: 15px;
}
.item{
	/*background:#f8f8f8 url(../images/arrow.png) 97% center no-repeat;*/
	background:#f8f8f8;
	width:96%;
	min-height:50px;
	padding:3% 2%;	
	font-family: 'Open Sans', sans-serif !important;
	font-size: 16px;
	border-bottom:1px solid #EEE;
	cursor:move;
	transition:all ease-in-out 0.1s;
	-webkit-transition:all ease-in-out 0.1s;
	-moz-transition:all ease-in-out 0.1s;
	-o-transition:all ease-in-out 0.1s;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.item a {
	color:#000;
	text-decoration:none !important;
	transition:all ease-in-out 0.1s;
	-webkit-transition:all ease-in-out 0.1s;
	-moz-transition:all ease-in-out 0.1s;
	-o-transition:all ease-in-out 0.1s;
	-moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
	ursor:move;
}
.item:hover{
	background:#00B4FE;
	/*	url(../images/arrow.png) 97% center no-repeat;*/
	color:#FFF !important;
}
.item:hover a{
	color:#FFF;
}
.item .title{
	font-family: 'Open Sans', sans-serif !important;
	font-size: 22px;
	vertical-align: middle;
	padding-top: 14px;
	padding-left: 5px;
	white-space: nowrap;
	width: 99%;
	height:25px;
	overflow: hidden;
	text-overflow: ellipsis;
}
#loader{
	position: fixed;
	width: 100%;
	margin: auto;
	margin-top:-60px;
	height: 30px;
	background: #00B4FF;
	top: 0;
	text-align: center;
	padding-top: 10px;
	font-size: 22px;
	color: white;
}
#bin{
	position:fixed;
	bottom:10px;
	right:10px;
	width:100px;
	height:100px;
	display:none;
}
@-webkit-keyframes bin-moves {
    0% {
        -webkit-transform: rotate(0deg);
    }
    15% {
        -webkit-transform: rotate(-5deg);
    }
	30% {
        -webkit-transform: rotate(5deg);
    }
	45% {
        -webkit-transform: rotate(0deg);
		bottom:10px;
    }
	65% {
        -webkit-transform: rotate(0deg);
		bottom:10px;
    }
	70% {
		-webkit-transform: rotate(0deg);
		bottom:20px;
	}
	80% {
        -webkit-transform: rotate(0deg);
		bottom:10px;
    }
	90% {
        -webkit-transform: rotate(0deg);
		bottom:20px;
    }
	100% {
        -webkit-transform: rotate(0deg);
		bottom:10px;
    }
}
@-moz-keyframes bin-moves {
    0% {
        -moz-transform: rotate(0deg);
    }
    15% {
        -moz-transform: rotate(-5deg);
    }
	30% {
        -moz-transform: rotate(5deg);
    }
	45% {
        -moz-transform: rotate(0deg);
		bottom:10px;
    }
	65% {
        -moz-transform: rotate(0deg);
		bottom:10px;
    }
	70% {
		-moz-transform: rotate(0deg);
		bottom:20px;
	}
	80% {
        -moz-transform: rotate(0deg);
		bottom:10px;
    }
	90% {
        -moz-transform: rotate(0deg);
		bottom:20px;
    }
	100% {
        -moz-transform: rotate(0deg);
		bottom:10px;
    }
}
.move_bin{
	-moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;

    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
	
    -moz-animation-name: bin-moves;
    -moz-animation-duration: 2s;

    -webkit-animation-name: bin-moves;
    -webkit-animation-duration: 2s;
}
.scale{
	-webkit-transform:scale(1.3,1.3);
	-moz-transform:scale(1.3,1.3);
	transform:scale(1.3,1.3);
}